@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1e1e1e;
  color: #d4d4d4;
  font-family: 'JetBrains Mono', monospace;
}

* {
  box-sizing: border-box;
}

/* smooth hover transitions */
button, div {
  transition: all 0.2s ease;
}

/* scrollbar like VS Code */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border-radius: 4px;
}
body ,button{
  cursor: none;
}
h1{
  font-family: "Honk", system-ui;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  color:#f472b6;
  animation: blink 1s infinite;
}